<div ng-controller="MachineController">
  <div ng-controller="MachineCreationController">
    <h1>Create Machine</h1>
    Configure your virtual machine by choosing your package, server OS and additional SSD storage.
    <div class="form-horizontal">
      <div class="nameField">
          <h2>Name:</h2>
          <input ng-model="machine.name" type="text" class="input-xxlarge"/>
      </div>
      <div class="nameField">
          <h2>Description:</h2>
          <textarea ng-model="machine.description" type="text" class="input-xxlarge" />
      </div>
      <div class="machineMemory nameField">
        <h2>Memory in MiB *:</h2>
        <input ng-model="machine.memory" value="512" min="128" step="128" type="number" class="input-small" />
      </div>
      <div class="machineVCPUS nameField">
        <h2>Number of virtual CPUs *:</h2>
        <input ng-model="machine.vcpus" min="1" type="number" class="input-small"/>
      </div>
      <div class="osimage-label nameField clear-both inline-block">
          <h2>OS Image</h2>
      </div>
      <div class="controls controls2">
        <div ng-include src="'Portal/Decks/MachineDeck/includes/image_list.html'"></div>
      </div>
      <div class="machineBootDiskSize nameField">
        <h2>Boot disk size in GiB *:</h2>
        <input ng-model="machine.disksize" ng-min="mindisksize" type="number" class="input-small"/>
      </div>
      <div class="form-actions clear-both">
          <button class="btn btn-info btn-large mainButton" ng-click="saveNewMachine()" ng-disabled="!isValid()">Create</button>
      </div>
    </div>
  </div>
</div>
